@import "./globals/variables";
@import "./globals/colors";
@import "./globals/mixins";
@import "./globals/sizes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 8.75rem 0 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
