@import "../globals/colors";
@import "../globals/mixins";

.Icon {
  color: black;
}

.FormLabelInput,
.FromInput {
  color: $label-color;
}

.FormLabelInput label {
  position: relative;
  bottom: 10px;
}

.FormInput {
  display: flex;
  align-items: center;
  gap: 16px;
}

.FormInput input {
  background: $input-background;
  color: $black;
  outline: none;
  border: none;
}

.FormInput input::placeholder {
  color: $input-color;
}

.FormInput input {
  width: 100%;
  height: 100%;
  color: $input-color;
}

.FormInput input:focus {
  background-color: $input-background;
}

.FormInput {
  background-color: $input-background;
  padding: 10px;
  border: $input-border solid 1px;
  border-radius: 150px;
}
.Icon {
  color: $icon-input-color;
  padding: 5px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: $icon-input-background;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormInput select {
  background: $input-background;
  color: $black;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
}

.FormInput select option:checked {
  color: $black;
}

.FormInput select {
  color: $input-color;
}

.main {
  padding: 34rem 4rem 4rem;
  @include flex-align;
  flex-direction: column;
  position: relative;
  justify-content: center;
  & .form {
    position: absolute;
    top: -10rem;
    border-radius: 2rem;
    padding: 3rem 2rem 2rem;
    background: $whiteDeg1;
    width: 60vw;
    @include flex-align;
    justify-content: center;
    box-shadow: $shadow;

    & .formContainer {
      width: 50vw;
      @include flex-align;
      justify-content: center;
      flex-direction: column;

      & .formRow {
        @include flex-align;
        width: 100%;
        gap: 4rem;
        margin-bottom: 3rem;

        & .FormLabelInput {
          width: 100%;
        }
      }

      & button {
        background: $primary-color;
        color: $whiteDeg1;
        border: none;
        border-radius: 8px;
        padding: 1rem 5rem;
        font-size: 1rem;
        text-align: center;
        margin-top: 5rem;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        border: $primary-color solid 1px;
        &:hover {
          background: $whiteDeg1;
          color: $primary-color;
          border: $primary-color solid 1px;
          transition: all ease-in-out 0.3s;
        }
      }

      & .formRowTextArea {
        width: 100%;
        & label {
          position: relative;
          bottom: 10px;
          color: $label-color;
        }

        & .FormTextArea {
          display: flex;
          gap: 16px;
          background-color: $input-background;
          padding: 10px;
          border: $input-border solid 1px;
          border-radius: 16px;
        }

        & textarea {
          width: 100%;
          min-height: 150px;
          padding: 10px;
          font-size: 16px;
          border: none;
          border-radius: 8px;
          resize: none;
          background: $input-background;
          color: black;

          &::placeholder {
            color: $input-color;
          }
          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }
  }

  & .info {
    & p {
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
    }

    & .ContactInfo {
      margin: 2.5rem 0;
      @include flex-align;
      justify-content: center;
      gap: 2.5rem;
    }

    & .icons {
      @include flex-align;
      justify-content: center;
      gap: 1.5rem;
    }
  }
}
