@import "../../globals/colors";
@import "../../globals/mixins";

.FormDiv {
  margin: 0rem 4rem 4rem;
  border: $whiteDeg1 solid 1px;
  border-radius: 24px;
  background: $whiteDeg1;
  box-shadow: $shadow;
  position: relative;
  top: 4rem;
}
.Form {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
  row-gap: 40px;
}
.FormInput {
  background-color: $input-background;
  padding: 10px;
  border: $input-border solid 1px;
  border-radius: 150px;
}

.FormLabelInput,
.FromInput {
  color: $label-color;
}

.FormLabelInput label {
  position: relative;
  bottom: 10px;
}

.FormInput select {
  width: 100%;
  height: 100%;
  color: $input-color;
}

.FormSubmit button {
  cursor: pointer;
  position: relative;
  top: 8px;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 24px;

  border-radius: 150px;
  color: $whiteDeg1;
  background: $primary-color;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border: $primary-color solid 1px;
  transition: all ease-in-out 0.3s;
  justify-content: space-between;
  &:hover {
    background: $whiteDeg1;
    color: $primary-color;
    border: $primary-color solid 1px;
    transition: all ease-in-out 0.3s;
  }
}

.Icon {
  color: $icon-input-color;
  padding: 5px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: $icon-input-background;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Checkbox {
  color: $black;
  display: flex;
  gap: 8px;

  & p {
    & span {
      color: $primary-color;
      cursor: pointer;
      border-bottom: 1px solid $primary-color;
    }
  }
}

.CheckboxesContainer {
  color: $black;
  display: flex;
  flex-direction: column;
  gap: 8px;

  & label {
    position: relative;
    top: -0.5rem;
  }

  & .checkboxes {
    position: relative;
    top: 0.5rem;
    @include flex-align;
    justify-content: space-around;

    & .inputs {
      @include flex-align;
      justify-content: center;
      gap: 1rem;
    }
  }
}

.FormInput,
.FormSubmit {
  display: flex;
  align-items: center;
  gap: 16px;
}
.FormInput select {
  background: $input-background;
  color: $black;
  outline: none;
  border: none;
}

.FormInput select option:checked {
  color: $black;
}

.FormInput select {
  color: $input-color;
}

.FormInput:focus-within {
  border: solid 1px $primary-color;

  & .Input {
    color: black;
  }

  & .Icon {
    background: #f3f7f8;
    color: $primary-color;
  }
}
