@import "../../globals/colors";
@import "../../globals/mixins";

.Icons {
  @include flex-align;
  gap: 1rem;
  margin-bottom: 0.5rem;

  & h5 {
    color: $black;
    font-weight: 500;
    font-size: 1rem;
  }
}
