@import "../../globals/mixins";
@import "../../globals/colors";
@mixin img_style {
  @include logo_width_height;
  margin-bottom: 5px;
}

.FirstPart {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.parag {
  line-height: 1.8rem;
}

.Definition {
  width: 27%;
}

.Definition img {
  @include img_style();
}

.SoluOuti {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.SoluOuti h4 {
  margin-bottom: 3rem;
}

.SoluOuti ul {
  list-style: none;
}

.SoluOuti li {
  margin-bottom: 0.5rem;
  position: relative;
}

.SoluOuti li::before {
  content: "";
  display: block;
  position: absolute;
  left: -15px;
  bottom: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $primary-color;
}

.Contact h4 {
  margin-bottom: 3rem;
}

.moyenContact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
}

.SecondPart {
  padding: 0.8rem 4rem;
  background-color: $primary-color;
  color: $whiteDeg1;
  @include flex-align;
  justify-content: space-between;
}

.SecondPart img {
  height: auto;
  width: 80px;
}

.copy {
  @include flex-align;
  gap: 24px;
  font-weight: 300;
}

.offert {
  @include flex-align;
  justify-content: center;
  gap: 24px;
}

.copyPasteDiv {
  @include flex-align;
  gap: 0.5rem;
}
