// ------- Main colors

$primary-color: #19b0d2;
$secondary-color: #1396b4;
$hover-color: #7accdf;
$underLine-color: #c0e7ee;
$whiteDeg1: rgba(255, 255, 255, 1);
$whiteDeg2: rgba(248, 248, 248, 1);
$whiteDeg2-acceuil: #fcfcfc;
$black: #21201e;
$icon-avantage-background: #f1fbfd;
$shapes-background: linear-gradient(137.7deg, #19b0d2 3.38%, #0d7c95 110.77%);
$valid-icon-color: #51c7a5;
$valid-icon-background: #fefefe;
$border-tarification: rgba(221, 221, 221, 1);

// ------- Input Icon colors

$input-color: #b0b7bd;
$input-border: #babbbb;
$input-background: #fafafa;
$icon-input-color: #bbb;
$icon-input-background: #efefef;
$label-color: #273e4e;

// -------- Shadow

$shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);

// -------- icon Slider

$icon-off-background : #fafafa;
$icon-off-color : #b1b1b1;
$icon-on-background : #f7fbfe;

