@import "../../globals/colors";
@import "../../globals/mixins";

.main {
  background: $whiteDeg1;
  width: 60vw;
  padding: 1rem 2rem 2rem;
  box-shadow: $shadow;
  border-radius: 1rem;

  & .questionPart {
    @include flex-align;
    justify-content: space-between;

    & .question {
      @include flex-align;
      justify-content: center;
      gap: 1rem;

      & h2 {
        font-weight: 500;
        font-size: 1.15rem;
      }
    }

    & .toggleButton {
      & button {
        @include flex-align;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 3rem;
        font-weight: 300;
        border: none;
        background: none;
        color: $primary-color;
        cursor: pointer;
      }
    }
  }

  & .line {
    width: 100%;
    height: 1px;
    margin: 2rem 0;
    background: #eaeaea;
  }

  & .answerPart {
    & p {
      line-height: 1.8em;
    }
  }
}
