.InfoContact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.Icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #fff;
  color: #33b9d7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Icon:first-child {
  font-size: 2rem;
  font-weight: 900;
}

.InfoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.InfoCard h5 {
  font-weight: 300;
}

.InfoCard h3 {
  font-size: 16px;
}
